<!-- 풀화면 사이드바 NAVIGATION WIDGET -->
<nav id="navigation-widget-small" class="navigation-widget navigation-widget-desktop closed sidebar left delayed">
  <!-- USER AVATAR -->
  <a class="user-avatar small no-outline">
    <!-- USER AVATAR CONTENT -->
    <div class="user-avatar-content" id="fullSideBar">
    
    </div>
    <!-- /USER AVATAR CONTENT -->

    <!-- USER AVATAR PROGRESS -->
    <div class="user-avatar-progress">
      <!-- HEXAGON -->
      <div class="hexagon-progress-40-44"></div>
      <!-- /HEXAGON -->
    </div>
    <!-- /USER AVATAR PROGRESS -->

  </a>
  <!-- /USER AVATAR -->

  <!-- MENU -->
  <ul class="menu small">
    <!-- MENU ITEM -->
    <li class="menu-item">
      <!-- MENU ITEM LINK -->
      <a class="menu-item-link text-tooltip-tfr" href="/newsfeed" data-title="뉴스피드">
        <!-- MENU ITEM LINK ICON -->
        <svg class="menu-item-link-icon icon-newsfeed">
          <use xlink:href="#svg-newsfeed"></use>
        </svg>
        <!-- /MENU ITEM LINK ICON -->
      </a>
      <!-- /MENU ITEM LINK -->
    </li>
    <!-- /MENU ITEM -->

    <!-- MENU ITEM -->
    <li class="menu-item">
      <!-- MENU ITEM LINK -->
      <a class="menu-item-link text-tooltip-tfr" href="/groups" data-title="미가입 그룹">
        <!-- MENU ITEM LINK ICON -->
        <svg class="menu-item-link-icon icon-members">
          <use xlink:href="#svg-members"></use>
        </svg>
        <!-- /MENU ITEM LINK ICON -->
      </a>
      <!-- /MENU ITEM LINK -->
    </li>
    <!-- /MENU ITEM -->

    <!-- MENU ITEM -->
    <li class="menu-item">
      <!-- MENU ITEM LINK -->
      <a class="menu-item-link text-tooltip-tfr" href="/groups/joinRequest" data-title="가입 신청 그룹">
        <!-- MENU ITEM LINK ICON -->
        <svg class="menu-item-link-icon icon-group">
          <use xlink:href="#svg-group"></use>
        </svg>
        <!-- /MENU ITEM LINK ICON -->
      </a>
      <!-- /MENU ITEM LINK -->
    </li>
    <!-- /MENU ITEM -->    

    <!-- MENU ITEM -->
    <li class="menu-item">
      <!-- MENU ITEM LINK -->
      <a class="menu-item-link text-tooltip-tfr" href="/events" data-title="일정">
        <!-- MENU ITEM LINK ICON -->
        <svg class="menu-item-link-icon icon-events">
          <use xlink:href="#svg-events"></use>
        </svg>
        <!-- /MENU ITEM LINK ICON -->
      </a>
      <!-- /MENU ITEM LINK -->
    </li>
    <!-- /MENU ITEM -->
    
</nav>
<!-- 풀화면 사이드바 /NAVIGATION WIDGET -->

<!-- 버튼 사이드바 NAVIGATION WIDGET -->
<nav id="navigation-widget" class="navigation-widget navigation-widget-desktop sidebar left hidden" data-simplebar>
  <!-- NAVIGATION WIDGET COVER -->
  <figure class="navigation-widget-cover liquid">
    <img src="" alt=""> <!--사이드바 백 이미지-->
  </figure>
  <!-- /NAVIGATION WIDGET COVER -->

  <!-- USER SHORT DESCRIPTION -->
  <div class="user-short-description">
    <!-- USER SHORT DESCRIPTION AVATAR -->
    <a class="user-short-description-avatar user-avatar medium">
      <!-- USER AVATAR BORDER -->
      <div class="user-avatar-border">
        <!-- HEXAGON -->
        <div class="hexagon-120-132"></div>
        <!-- /HEXAGON -->
      </div>
      <!-- /USER AVATAR BORDER -->
  
      <!-- USER AVATAR CONTENT -->
      <div class="user-avatar-content" id="buttonSideBar">
        
      </div>
      <!-- /USER AVATAR CONTENT -->
  
      <!-- USER AVATAR PROGRESS -->
      <div class="user-avatar-progress">
        <!-- HEXAGON -->
        <div class="hexagon-progress-100-110"></div>
        <!-- /HEXAGON -->
      </div>
      <!-- /USER AVATAR PROGRESS -->
  
      <!-- USER AVATAR PROGRESS BORDER -->
      <div class="user-avatar-progress-border">
        <!-- HEXAGON -->
        <div class="hexagon-border-100-110"></div>
        <!-- /HEXAGON -->
      </div>
      <!-- /USER AVATAR PROGRESS BORDER -->
  
    </a>
    <!-- /USER SHORT DESCRIPTION AVATAR -->
  </div>
  <!-- /USER SHORT DESCRIPTION -->

  <!-- MENU -->
  <ul class="menu">
    <!-- MENU ITEM -->
    <li class="menu-item">
      <!-- MENU ITEM LINK -->
      <a class="menu-item-link" href="/newsfeed">
        <!-- MENU ITEM LINK ICON -->
        <svg class="menu-item-link-icon icon-newsfeed">
          <use xlink:href="#svg-newsfeed"></use>
        </svg>
        <!-- /MENU ITEM LINK ICON -->
        뉴스피드
      </a>
      <!-- /MENU ITEM LINK -->
    </li>
    <!-- /MENU ITEM -->

    <!-- MENU ITEM -->
    <li class="menu-item">
      <!-- MENU ITEM LINK -->
      <a class="menu-item-link" href="/groups">
        <!-- MENU ITEM LINK ICON -->
        <svg class="menu-item-link-icon icon-members">
          <use xlink:href="#svg-members"></use>
        </svg>
        <!-- /MENU ITEM LINK ICON -->
        미가입 그룹
      </a>
      <!-- /MENU ITEM LINK -->
    </li>
    <!-- /MENU ITEM -->

    <!-- MENU ITEM -->
    <li class="menu-item">
      <!-- MENU ITEM LINK -->
      <a class="menu-item-link" href="/groups/joinRequest">
        <!-- MENU ITEM LINK ICON -->
        <svg class="menu-item-link-icon icon-group">
          <use xlink:href="#svg-group"></use>
        </svg>
        <!-- /MENU ITEM LINK ICON -->
        가입 신청 그룹
      </a>
      <!-- /MENU ITEM LINK -->
    </li>
    <!-- /MENU ITEM -->

    <!-- MENU ITEM -->
    <li class="menu-item">
      <!-- MENU ITEM LINK -->
      <a class="menu-item-link" href="/events">
        <!-- MENU ITEM LINK ICON -->
        <svg class="menu-item-link-icon icon-events">
          <use xlink:href="#svg-events"></use>
        </svg>
        <!-- /MENU ITEM LINK ICON -->
        일정
      </a>
      <!-- /MENU ITEM LINK -->
    </li>
    <!-- /MENU ITEM -->

</nav>
<!-- 버튼 사이드바 /NAVIGATION WIDGET -->

<!-- 모바일 사이드바 NAVIGATION WIDGET -->
<nav id="navigation-widget-mobile" class="navigation-widget navigation-widget-mobile sidebar left hidden" data-simplebar>
  <!-- NAVIGATION WIDGET CLOSE BUTTON -->
  <div class="navigation-widget-close-button">
    <!-- NAVIGATION WIDGET CLOSE BUTTON ICON -->
    <svg class="navigation-widget-close-button-icon icon-back-arrow">
      <use xlink:href="#svg-back-arrow"></use>
    </svg>
    <!-- NAVIGATION WIDGET CLOSE BUTTON ICON -->
  </div>
  <!-- /NAVIGATION WIDGET CLOSE BUTTON -->

  <!-- NAVIGATION WIDGET INFO WRAP -->
  <div class="navigation-widget-info-wrap">
    <!-- NAVIGATION WIDGET INFO -->
    <div class="navigation-widget-info" id="mobileSideBar">
    
    </div>
    <!-- /NAVIGATION WIDGET INFO -->

    <!-- NAVIGATION WIDGET BUTTON -->
    <p class="navigation-widget-info-button button small secondary" onclick="logout()">로그아웃</p>
    <!-- /NAVIGATION WIDGET BUTTON -->
  </div>
  <!-- /NAVIGATION WIDGET INFO WRAP -->

  <!-- MENU -->
  <ul class="menu">
    <!-- MENU ITEM -->
    <li class="menu-item">
      <!-- MENU ITEM LINK -->
      <a class="menu-item-link" href="/newsfeed">
        <!-- MENU ITEM LINK ICON -->
        <svg class="menu-item-link-icon icon-newsfeed">
          <use xlink:href="#svg-newsfeed"></use>
        </svg>
        <!-- /MENU ITEM LINK ICON -->
        뉴스피드
      </a>
      <!-- /MENU ITEM LINK -->
    </li>
    <!-- /MENU ITEM -->

    <!-- MENU ITEM -->
    <li class="menu-item">
      <!-- MENU ITEM LINK -->
      <a class="menu-item-link" href="/groups">
        <!-- MENU ITEM LINK ICON -->
        <svg class="menu-item-link-icon icon-members">
          <use xlink:href="#svg-members"></use>
        </svg>
        <!-- /MENU ITEM LINK ICON -->
        미가입 그룹
      </a>
      <!-- /MENU ITEM LINK -->
    </li>
    <!-- /MENU ITEM -->

    <!-- MENU ITEM -->
    <li class="menu-item">
      <!-- MENU ITEM LINK -->
      <a class="menu-item-link" href="/groups/joinRequest">
        <!-- MENU ITEM LINK ICON -->
        <svg class="menu-item-link-icon icon-group">
          <use xlink:href="#svg-group"></use>
        </svg>
        <!-- /MENU ITEM LINK ICON -->
        가입 신청 그룹
      </a>
      <!-- /MENU ITEM LINK -->
    </li>
    <!-- /MENU ITEM -->

    <!-- MENU ITEM -->
    <li class="menu-item">
      <!-- MENU ITEM LINK -->
      <a class="menu-item-link" href="/events">
        <!-- MENU ITEM LINK ICON -->
        <svg class="menu-item-link-icon icon-events">
          <use xlink:href="#svg-events"></use>
        </svg>
        <!-- /MENU ITEM LINK ICON -->
        일정
      </a>
      <!-- /MENU ITEM LINK -->
    </li>
    <!-- /MENU ITEM -->

</nav>
<!-- 모바일 사이드바 /NAVIGATION WIDGET -->

<!-- 헤더 HEADER -->
<header class="header">
  <!-- HEADER ACTIONS -->
  <div class="header-actions">
    <!-- HEADER BRAND -->
    <div class="header-brand">
      <!-- LOGO -->
      <div class="logo">
        <!-- ICON LOGO VIKINGER -->
        <svg class="icon-logo-vikinger small">
          <use xlink:href="#svg-logo-vikinger" onclick="location.href
          ='/newsfeed'"></use>
        </svg>
        <!-- /ICON LOGO VIKINGER -->
      </div>
      <!-- /LOGO -->

      <!-- HEADER BRAND TEXT -->
      <h1 class="header-brand-text"><a href="/newsfeed">LounGe</a></h1>
      <!-- /HEADER BRAND TEXT -->
    </div>
    <!-- /HEADER BRAND -->
  </div>
  <!-- /HEADER ACTIONS -->

  <!-- HEADER ACTIONS -->
  <div class="header-actions">
    <!-- SIDEMENU TRIGGER -->
    <div class="sidemenu-trigger navigation-widget-trigger">
      <!-- ICON GRID -->
      <svg class="icon-grid">
        <use xlink:href="#svg-grid"></use>
      </svg>
      <!-- /ICON GRID -->
    </div>
    <!-- /SIDEMENU TRIGGER -->

    <!-- MOBILEMENU TRIGGER -->
    <div class="mobilemenu-trigger navigation-widget-mobile-trigger">
      <!-- BURGER ICON -->
      <div class="burger-icon inverted">
        <!-- BURGER ICON BAR -->
        <div class="burger-icon-bar"></div>
        <!-- /BURGER ICON BAR -->

        <!-- BURGER ICON BAR -->
        <div class="burger-icon-bar"></div>
        <!-- /BURGER ICON BAR -->

        <!-- BURGER ICON BAR -->
        <div class="burger-icon-bar"></div>
        <!-- /BURGER ICON BAR -->
      </div>
      <!-- /BURGER ICON -->
    </div>
    <!-- /MOBILEMENU TRIGGER -->
  </div>
  <!-- /HEADER ACTIONS -->

  <!-- HEADER ACTIONS -->
  <div class="header-actions search-bar">
    <!-- INTERACTIVE INPUT -->
    <div class="interactive-input dark">
      <input type="text" id="search-main" name="search_main" placeholder="Search here for newsfeed tag" onKeypress="if(window.event.keyCode==13){serchTagNewsfeed()}" >
      <!-- INTERACTIVE INPUT ICON WRAP -->
      <div class="interactive-input-icon-wrap">
        <!-- INTERACTIVE INPUT ICON -->
        <svg class="interactive-input-icon icon-magnifying-glass">
          <use xlink:href="#svg-magnifying-glass"></use>
        </svg>
        <!-- /INTERACTIVE INPUT ICON -->
      </div>
      <!-- /INTERACTIVE INPUT ICON WRAP -->

      <!-- INTERACTIVE INPUT ACTION -->
      <div class="interactive-input-action">
        <!-- INTERACTIVE INPUT ACTION ICON -->
        <svg class="interactive-input-action-icon icon-cross-thin">
          <use xlink:href="#svg-cross-thin"></use>
        </svg>
        <!-- /INTERACTIVE INPUT ACTION ICON -->
      </div>
      <!-- /INTERACTIVE INPUT ACTION -->
    </div>
    <!-- /INTERACTIVE INPUT -->

  </div>
  <!-- /HEADER ACTIONS -->

  <!-- HEADER ACTIONS -->
  <div class="header-actions">
  </div>
  <!-- /HEADER ACTIONS -->

  <!-- HEADER ACTIONS -->
  <div class="header-actions">

    <!-- ACTION ITEM WRAP -->
    <div class="action-item-wrap">
      <!-- ACTION ITEM -->
      <div class="action-item dark header-settings-dropdown-trigger">
        <!-- ACTION ITEM ICON -->
        <svg class="action-item-icon icon-settings">
          <use xlink:href="#svg-settings"></use>
        </svg>
        <!-- /ACTION ITEM ICON -->
      </div>
      <!-- /ACTION ITEM -->

      <!-- DROPDOWN NAVIGATION -->
      <div class="dropdown-navigation header-settings-dropdown">
        <!-- DROPDOWN NAVIGATION HEADER -->
        <div class="dropdown-navigation-header">
          <!-- USER STATUS -->
          <div class="user-status" id="dropDownBar">
            
          </div>
          <!-- /USER STATUS -->
        </div>
        <!-- /DROPDOWN NAVIGATION HEADER -->
        <!-- DROPDOWN NAVIGATION CATEGORY -->
        <p class="dropdown-navigation-category">내 정보</p>
        <!-- /DROPDOWN NAVIGATION CATEGORY -->
        <!-- DROPDOWN NAVIGATION LINK -->
        <a class="dropdown-navigation-link" href="/profile/info">프로필</a>
        <!-- /DROPDOWN NAVIGATION LINK -->
        <!-- DROPDOWN NAVIGATION LINK -->
        <a class="dropdown-navigation-link" href="/newsfeed/mylist">뉴스피드</a>
        <!-- /DROPDOWN NAVIGATION LINK -->
    
        <!-- DROPDOWN NAVIGATION CATEGORY -->
        <p class="dropdown-navigation-category">계 정</p>
        <!-- /DROPDOWN NAVIGATION CATEGORY -->
    
        <!-- DROPDOWN NAVIGATION LINK -->
        <a class="dropdown-navigation-link" href="/account/password">비밀번호 변경</a>
        <!-- /DROPDOWN NAVIGATION LINK -->
    
        <!-- DROPDOWN NAVIGATION CATEGORY -->
        <p class="dropdown-navigation-category">그 룹</p>
        <!-- /DROPDOWN NAVIGATION CATEGORY -->
    
        <!-- DROPDOWN NAVIGATION LINK -->
        <a class="dropdown-navigation-link" href="/group/management">그룹 관리</a>
        <!-- /DROPDOWN NAVIGATION LINK -->
    
        <!-- DROPDOWN NAVIGATION LINK -->
        <a class="dropdown-navigation-link" href="/joined/grouplist">소속 그룹</a>
        <!-- /DROPDOWN NAVIGATION LINK -->
    
        <!-- DROPDOWN NAVIGATION BUTTON -->
        <p class="dropdown-navigation-button button small secondary" onclick="logout()">로그아웃</p>
        <!-- /DROPDOWN NAVIGATION BUTTON -->
      </div>
      <!-- /DROPDOWN NAVIGATION -->
    </div>
    <!-- /ACTION ITEM WRAP -->
  </div>
  <!-- /HEADER ACTIONS -->
</header>
<!-- 헤더 /HEADER -->
<!--axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- GH script-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/javascript/header.js"></script>
<script src="/javascript/logout.js"></script>
<script src="/javascript/restoreAccessToken.js"></script>