<!-- SIDEBAR BOX -->
<div class='sidebar-box no-padding'>
  <!-- SIDEBAR MENU -->
  <div class='sidebar-menu round-borders'>
    <!-- SIDEBAR MENU ITEM -->
    <div class='sidebar-menu-item'>
      <!-- SIDEBAR MENU HEADER -->
      <div class='sidebar-menu-header accordion-trigger-linked'>
        <!-- SIDEBAR MENU HEADER ICON -->
        <svg class='sidebar-menu-header-icon icon-profile'>
          <use xlink:href='#svg-profile'></use>
        </svg>
        <!-- /SIDEBAR MENU HEADER ICON -->

        <!-- SIDEBAR MENU HEADER CONTROL ICON -->
        <div class='sidebar-menu-header-control-icon'>
          <!-- SIDEBAR MENU HEADER CONTROL ICON OPEN -->
          <svg class='sidebar-menu-header-control-icon-open icon-minus-small'>
            <use xlink:href='#svg-minus-small'></use>
          </svg>
          <!-- /SIDEBAR MENU HEADER CONTROL ICON OPEN -->

          <!-- SIDEBAR MENU HEADER CONTROL ICON CLOSED -->
          <svg class='sidebar-menu-header-control-icon-closed icon-plus-small'>
            <use xlink:href='#svg-plus-small'></use>
          </svg>
          <!-- /SIDEBAR MENU HEADER CONTROL ICON CLOSED -->
        </div>
        <!-- /SIDEBAR MENU HEADER CONTROL ICON -->

        <!-- SIDEBAR MENU HEADER TITLE -->
        <p class='sidebar-menu-header-title'>내 정보</p>
        <!-- /SIDEBAR MENU HEADER TITLE -->
      </div>
      <!-- /SIDEBAR MENU HEADER -->

      <!-- SIDEBAR MENU BODY -->
      <div class='sidebar-menu-body accordion-content-linked'>
        <!-- SIDEBAR MENU LINK -->
        <a class='sidebar-menu-link' href='hub-profile-info.html'>프로필</a>
        <!-- /SIDEBAR MENU LINK -->

        <!-- SIDEBAR MENU LINK -->
        <a class='sidebar-menu-link' href='hub-profile-social.html'>게시물</a>
        <!-- /SIDEBAR MENU LINK -->

      </div>
      <!-- /SIDEBAR MENU BODY -->
    </div>
    <!-- /SIDEBAR MENU ITEM -->

    <!-- SIDEBAR MENU ITEM -->
    <div class='sidebar-menu-item'>
      <!-- SIDEBAR MENU HEADER -->
      <div class='sidebar-menu-header accordion-trigger-linked'>
        <!-- SIDEBAR MENU HEADER ICON -->
        <svg class='sidebar-menu-header-icon icon-settings'>
          <use xlink:href='#svg-settings'></use>
        </svg>
        <!-- /SIDEBAR MENU HEADER ICON -->

        <!-- SIDEBAR MENU HEADER CONTROL ICON -->
        <div class='sidebar-menu-header-control-icon'>
          <!-- SIDEBAR MENU HEADER CONTROL ICON OPEN -->
          <svg class='sidebar-menu-header-control-icon-open icon-minus-small'>
            <use xlink:href='#svg-minus-small'></use>
          </svg>
          <!-- /SIDEBAR MENU HEADER CONTROL ICON OPEN -->

          <!-- SIDEBAR MENU HEADER CONTROL ICON CLOSED -->
          <svg class='sidebar-menu-header-control-icon-closed icon-plus-small'>
            <use xlink:href='#svg-plus-small'></use>
          </svg>
          <!-- /SIDEBAR MENU HEADER CONTROL ICON CLOSED -->
        </div>
        <!-- /SIDEBAR MENU HEADER CONTROL ICON -->

        <!-- SIDEBAR MENU HEADER TITLE -->
        <p class='sidebar-menu-header-title'>계 정</p>
        <!-- /SIDEBAR MENU HEADER TITLE -->
      </div>
      <!-- /SIDEBAR MENU HEADER -->

      <!-- SIDEBAR MENU BODY -->
      <div class='sidebar-menu-body accordion-content-linked'>
        <!-- SIDEBAR MENU LINK -->
        <a class='sidebar-menu-link' href='hub-account-info.html'>계정 정보</a>
        <!-- /SIDEBAR MENU LINK -->

        <!-- SIDEBAR MENU LINK -->
        <a class='sidebar-menu-link' href='hub-account-password.html'>비밀번호 변경</a>
        <!-- /SIDEBAR MENU LINK -->
      </div>
      <!-- /SIDEBAR MENU BODY -->
    </div>
    <!-- /SIDEBAR MENU ITEM -->

    <!-- SIDEBAR MENU ITEM -->
    <div class='sidebar-menu-item'>
      <!-- SIDEBAR MENU HEADER -->
      <div class='sidebar-menu-header accordion-trigger-linked'>
        <!-- SIDEBAR MENU HEADER ICON -->
        <svg class='sidebar-menu-header-icon icon-group'>
          <use xlink:href='#svg-group'></use>
        </svg>
        <!-- /SIDEBAR MENU HEADER ICON -->

        <!-- SIDEBAR MENU HEADER CONTROL ICON -->
        <div class='sidebar-menu-header-control-icon'>
          <!-- SIDEBAR MENU HEADER CONTROL ICON OPEN -->
          <svg class='sidebar-menu-header-control-icon-open icon-minus-small'>
            <use xlink:href='#svg-minus-small'></use>
          </svg>
          <!-- /SIDEBAR MENU HEADER CONTROL ICON OPEN -->

          <!-- SIDEBAR MENU HEADER CONTROL ICON CLOSED -->
          <svg class='sidebar-menu-header-control-icon-closed icon-plus-small'>
            <use xlink:href='#svg-plus-small'></use>
          </svg>
          <!-- /SIDEBAR MENU HEADER CONTROL ICON CLOSED -->
        </div>
        <!-- /SIDEBAR MENU HEADER CONTROL ICON -->

        <!-- SIDEBAR MENU HEADER TITLE -->
        <p class='sidebar-menu-header-title'>그 룹</p>
        <!-- /SIDEBAR MENU HEADER TITLE -->
      </div>
      <!-- /SIDEBAR MENU HEADER -->

      <!-- SIDEBAR MENU BODY -->
      <div class='sidebar-menu-body accordion-content-linked'>
        <!-- SIDEBAR MENU LINK -->
        <a class='sidebar-menu-link' href='/group/management'>그룹 관리</a>
        <!-- /SIDEBAR MENU LINK -->

        <!-- SIDEBAR MENU LINK -->
        <a class='sidebar-menu-link' href='/joined/grouplist'>나의 그룹</a>
        <!-- /SIDEBAR MENU LINK -->
      </div>
      <!-- /SIDEBAR MENU BODY -->
    </div>
    <!-- /SIDEBAR MENU ITEM -->

  </div>
  <!-- /SIDEBAR MENU -->
</div>
<!-- /SIDEBAR BOX -->