<html lang='ko'>
  <head>
    <meta charset='utf-8' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1, shrink-to-fit=no'
    />
    <!-- bootstrap 4.3.1 -->
    <link rel='stylesheet' href='/css/vendor/bootstrap.min.css' />
    <!-- styles -->
    <link rel='stylesheet' href='/css/styles.min.css' />
    <!-- simplebar styles -->
    <link rel='stylesheet' href='/css/vendor/simplebar.css' />
    <!-- favicon -->
    <link rel='icon' href='/img/favicon.ico' />
    <title>LounGe</title>
  </head>
  <body>
  {{>loader}}
  {{>header}}

    <!-- CONTENT GRID -->
    <div class='content-grid'>
      <!-- GRID -->
      <div class='grid grid-12-3'>
          <!-- QUICK POST -->
          <div class='quick-post medium'>
            <!-- QUICK POST HEADER -->
            <div class='quick-post-header'>
              <!-- QUICK POST HEADER TITLE -->
              <p class='quick-post-header-title'>댓글</p>
              <!-- /QUICK POST HEADER TITLE -->
            </div>
            <!-- /QUICK POST HEADER -->

            <!-- QUICK POST BODY -->
            <div class='quick-post-body'>
              <!-- FORM -->
              <form class='form'>
                <!-- FORM ROW -->
                <div class='form-row'>
                  <!-- FORM ITEM -->
                  <div class='form-item'>
                    <!-- FORM TEXTAREA -->
                    <div class='form-textarea'>
                      <textarea
                        id='forum-post-text'
                        name='forum-post-text'
                        placeholder='내용을 입력해주세요.'
                      ></textarea>
                    </div>
                    <!-- /FORM TEXTAREA -->
                  </div>
                  <!-- /FORM ITEM -->
                </div>
                <!-- /FORM ROW -->
              </form>
              <!-- /FORM -->
            </div>
            <!-- /QUICK POST BODY -->

            <!-- QUICK POST FOOTER -->
            <div class='quick-post-footer'>
              <!-- QUICK POST FOOTER ACTIONS -->
              <div class='quick-post-footer-actions'>
              </div>
              <!-- /QUICK POST FOOTER ACTIONS -->

              <!-- QUICK POST FOOTER ACTIONS -->
              <div class='quick-post-footer-actions' id="createButton">
                
              </div>
              <!-- /QUICK POST FOOTER ACTIONS -->
            </div>
            <!-- /QUICK POST FOOTER -->
          </div>
          <!-- /QUICK POST -->
        <!-- FORUM CONTENT -->
        <div class='forum-content'>
          <!-- FORUM POST LIST -->
          <div class='forum-post-list' id="commentList">
          
          </div>
          <!-- /FORUM POST LIST -->
        </div>
        <!-- /FORUM CONTENT -->
      </div>
      <!-- /GRID -->
    </div>
    <!-- /CONTENT GRID -->

    <!-- app -->
    <script src='/js/utils/app.js'></script>
    <!-- page loader -->
    <script src='/js/utils/page-loader.js'></script>
    <!-- simplebar -->
    <script src='/js/vendor/simplebar.min.js'></script>
    <!-- XM_Plugins -->
    <script src='/js/vendor/xm_plugins.min.js'></script>
    <!-- global.tooltips -->
    <script src='/js/global/global.tooltips.js'></script>
    <!-- header -->
    <script src='/js/header/header.js'></script>
    <!-- sidebar -->
    <script src='/js/sidebar/sidebar.js'></script>
    <!-- content -->
    <script src='/js/content/content.js'></script>
    <!-- form.utils -->
    <script src='/js/form/form.utils.js'></script>
    <!-- SVG icons -->
    <script src='/js/utils/svg-loader.js'></script>

    <script src='/javascript/comment.js'></script>
    <div id="commentjs"></div>
  </body>
</html>