<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- bootstrap 4.3.1 -->
  <link rel="stylesheet" href="css/vendor/bootstrap.min.css">
  <!-- styles -->
  <link rel="stylesheet" href="css/styles.min.css">
  <!-- simplebar styles -->
  <link rel="stylesheet" href="css/vendor/simplebar.css">
  <!-- favicon -->
  <link rel="icon" href="img/favicon.ico">
  <title>LounGe | Groups</title>
</head>
<body>
  {{>loader}}
  {{>header}}
  <!-- CONTENT GRID -->
  <div class="content-grid">

    <!-- SECTION FILTERS BAR -->
    <div class="section-filters-bar v1">
      <!-- SECTION FILTERS BAR ACTIONS -->
      <div class="section-filters-bar-actions">
        <!-- FORM -->
        <form class="form">
          <!-- FORM INPUT -->
          <div class="form-input small with-button">
            <label for="groups-search">Search Groups</label>
            <input type="text" id="groups-search" name="groups_search">
            <!-- BUTTON -->
            <button class="button primary">
              <!-- ICON MAGNIFYING GLASS -->
              <svg class="icon-magnifying-glass">
                <use xlink:href="#svg-magnifying-glass"></use>
              </svg>
              <!-- /ICON MAGNIFYING GLASS -->
            </button>
            <!-- /BUTTON -->
          </div>
          <!-- /FORM INPUT -->
        </form>
        <!-- /FORM -->
        
      </div>
      <!-- /SECTION FILTERS BAR ACTIONS -->
    </div>
    <!-- /SECTION FILTERS BAR -->

    <!-- GRID -->
    <div class="grid grid-4-4-4 centered">
      <!-- USER PREVIEW -->
      <div class="user-preview">
        <!-- USER PREVIEW COVER -->
        <figure class="user-preview-cover liquid">
          <img src="img/cover/29.jpg" alt="cover-29">
        </figure>
        <!-- /USER PREVIEW COVER -->
    
        <!-- USER PREVIEW INFO -->
        <div class="user-preview-info">
          <!-- TAG STICKER -->
          <div class="tag-sticker">
            <!-- TAG STICKER ICON -->
            <svg class="tag-sticker-icon icon-public">
              <use xlink:href="#svg-public"></use>
            </svg>
            <!-- /TAG STICKER ICON -->
          </div>
          <!-- /TAG STICKER -->
    
          <!-- USER SHORT DESCRIPTION -->
          <div class="user-short-description">
            <!-- USER SHORT DESCRIPTION AVATAR -->
            <a class="user-short-description-avatar user-avatar medium no-stats" href="group-timeline.html">
              <!-- USER AVATAR BORDER -->
              <div class="user-avatar-border">
                <!-- HEXAGON -->
                <div class="hexagon-120-130"></div>
                <!-- /HEXAGON -->
              </div>
              <!-- /USER AVATAR BORDER -->
    
              <!-- USER AVATAR CONTENT -->
              <div class="user-avatar-content">
                <!-- HEXAGON -->
                <div class="hexagon-image-100-110" data-src="img/avatar/24.jpg"></div>
                <!-- /HEXAGON -->
              </div>
              <!-- /USER AVATAR CONTENT -->
            </a>
            <!-- /USER SHORT DESCRIPTION AVATAR -->
      
            <!-- USER SHORT DESCRIPTION TITLE -->
            <p class="user-short-description-title"><a href="group-timeline.html">Cosplayers of the World</a></p>
            <!-- /USER SHORT DESCRIPTION TITLE -->
      
            <!-- USER SHORT DESCRIPTION TEXT -->
            <p class="user-short-description-text">All cosplayers welcome!</p>
            <!-- /USER SHORT DESCRIPTION TEXT -->
          </div>
          <!-- /USER SHORT DESCRIPTION -->
    
          <!-- USER STATS -->
          <div class="user-stats">
            <!-- USER STAT -->
            <div class="user-stat">
              <!-- USER STAT TITLE -->
              <p class="user-stat-title">139</p>
              <!-- /USER STAT TITLE -->
      
              <!-- USER STAT TEXT -->
              <p class="user-stat-text">members</p>
              <!-- /USER STAT TEXT -->
            </div>
            <!-- /USER STAT -->
      
            <!-- USER STAT -->
            <div class="user-stat">
              <!-- USER STAT TITLE -->
              <p class="user-stat-title">105</p>
              <!-- /USER STAT TITLE -->
      
              <!-- USER STAT TEXT -->
              <p class="user-stat-text">posts</p>
              <!-- /USER STAT TEXT -->
            </div>
            <!-- /USER STAT -->
      
            <!-- USER STAT -->
            <div class="user-stat">
              <!-- USER STAT TITLE -->
              <p class="user-stat-title">7.3k</p>
              <!-- /USER STAT TITLE -->
      
              <!-- USER STAT TEXT -->
              <p class="user-stat-text">visits</p>
              <!-- /USER STAT TEXT -->
            </div>
            <!-- /USER STAT -->
          </div>
          <!-- /USER STATS -->
    
          <!-- USER AVATAR LIST -->
          <div class="user-avatar-list medium reverse centered">
            <!-- USER AVATAR -->
            <div class="user-avatar smaller no-stats">
              <!-- USER AVATAR BORDER -->
              <div class="user-avatar-border">
                <!-- HEXAGON -->
                <div class="hexagon-34-36"></div>
                <!-- /HEXAGON -->
              </div>
              <!-- /USER AVATAR BORDER -->
          
              <!-- USER AVATAR CONTENT -->
              <div class="user-avatar-content">
                <!-- HEXAGON -->
                <div class="hexagon-image-30-32" data-src="img/avatar/03.jpg"></div>
                <!-- /HEXAGON -->
              </div>
              <!-- /USER AVATAR CONTENT -->
            </div>
            <!-- /USER AVATAR -->
            
            <!-- USER AVATAR -->
            <div class="user-avatar smaller no-stats">
              <!-- USER AVATAR BORDER -->
              <div class="user-avatar-border">
                <!-- HEXAGON -->
                <div class="hexagon-34-36"></div>
                <!-- /HEXAGON -->
              </div>
              <!-- /USER AVATAR BORDER -->
          
              <!-- USER AVATAR CONTENT -->
              <div class="user-avatar-content">
                <!-- HEXAGON -->
                <div class="hexagon-image-30-32" data-src="img/avatar/05.jpg"></div>
                <!-- /HEXAGON -->
              </div>
              <!-- /USER AVATAR CONTENT -->
            </div>
            <!-- /USER AVATAR -->
    
            <!-- USER AVATAR -->
            <div class="user-avatar smaller no-stats">
              <!-- USER AVATAR BORDER -->
              <div class="user-avatar-border">
                <!-- HEXAGON -->
                <div class="hexagon-34-36"></div>
                <!-- /HEXAGON -->
              </div>
              <!-- /USER AVATAR BORDER -->
          
              <!-- USER AVATAR CONTENT -->
              <div class="user-avatar-content">
                <!-- HEXAGON -->
                <div class="hexagon-image-30-32" data-src="img/avatar/10.jpg"></div>
                <!-- /HEXAGON -->
              </div>
              <!-- /USER AVATAR CONTENT -->
            </div>
            <!-- /USER AVATAR -->
    
            <!-- USER AVATAR -->
            <div class="user-avatar smaller no-stats">
              <!-- USER AVATAR BORDER -->
              <div class="user-avatar-border">
                <!-- HEXAGON -->
                <div class="hexagon-34-36"></div>
                <!-- /HEXAGON -->
              </div>
              <!-- /USER AVATAR BORDER -->
          
              <!-- USER AVATAR CONTENT -->
              <div class="user-avatar-content">
                <!-- HEXAGON -->
                <div class="hexagon-image-30-32" data-src="img/avatar/02.jpg"></div>
                <!-- /HEXAGON -->
              </div>
              <!-- /USER AVATAR CONTENT -->
            </div>
            <!-- /USER AVATAR -->
    
            <!-- USER AVATAR -->
            <div class="user-avatar smaller no-stats">
              <!-- USER AVATAR BORDER -->
              <div class="user-avatar-border">
                <!-- HEXAGON -->
                <div class="hexagon-34-36"></div>
                <!-- /HEXAGON -->
              </div>
              <!-- /USER AVATAR BORDER -->
          
              <!-- USER AVATAR CONTENT -->
              <div class="user-avatar-content">
                <!-- HEXAGON -->
                <div class="hexagon-image-30-32" data-src="img/avatar/06.jpg"></div>
                <!-- /HEXAGON -->
              </div>
              <!-- /USER AVATAR CONTENT -->
            </div>
            <!-- /USER AVATAR -->
    
            <!-- USER AVATAR -->
            <a class="user-avatar smaller no-stats" href="group-members.html">
              <!-- USER AVATAR BORDER -->
              <div class="user-avatar-border">
                <!-- HEXAGON -->
                <div class="hexagon-34-36"></div>
                <!-- /HEXAGON -->
              </div>
              <!-- /USER AVATAR BORDER -->
          
              <!-- USER AVATAR CONTENT -->
              <div class="user-avatar-content">
                <!-- HEXAGON -->
                <div class="hexagon-image-30-32" data-src="img/avatar/23.jpg"></div>
                <!-- /HEXAGON -->
              </div>
              <!-- /USER AVATAR CONTENT -->
          
              <!-- USER AVATAR OVERLAY -->
              <div class="user-avatar-overlay">
                <!-- HEXAGON -->
                <div class="hexagon-overlay-30-32"></div>
                <!-- /HEXAGON -->
              </div>
              <!-- /USER AVATAR OVERLAY -->
          
              <!-- USER AVATAR OVERLAY CONTENT -->
              <div class="user-avatar-overlay-content">
                <!-- USER AVATAR OVERLAY CONTENT TEXT -->
                <p class="user-avatar-overlay-content-text">+132</p>
                <!-- /USER AVATAR OVERLAY CONTENT TEXT -->
              </div>
              <!-- /USER AVATAR OVERLAY CONTENT -->
            </a>
            <!-- /USER AVATAR -->
          </div>
          <!-- /USER AVATAR LIST -->
    
          <!-- USER PREVIEW ACTIONS -->
          <div class="user-preview-actions">
            <!-- BUTTON -->
            <p class="button secondary full">
              <!-- BUTTON ICON -->
              <svg class="button-icon icon-join-group">
                <use xlink:href="#svg-join-group"></use>
              </svg>
              <!-- /BUTTON ICON -->
              Join Group!
            </p>
            <!-- /BUTTON -->
          </div>
          <!-- /USER PREVIEW ACTIONS -->
        </div>
        <!-- /USER PREVIEW INFO -->
      </div>
      <!-- /USER PREVIEW -->

      <!-- USER PREVIEW -->
      <div class="user-preview">
        <!-- USER PREVIEW COVER -->
        <figure class="user-preview-cover liquid">
          <img src="/backgroundImage/08.jpg" alt="backgroundImage">
        </figure>
        <!-- /USER PREVIEW COVER -->
    
        <!-- USER PREVIEW INFO -->
        <div class="user-preview-info">
          <!-- TAG STICKER -->
          <div class="tag-sticker">
            <!-- TAG STICKER ICON -->
            <svg class="tag-sticker-icon icon-private">
              <use xlink:href="#svg-private"></use>
            </svg>
            <!-- /TAG STICKER ICON -->
          </div>
          <!-- /TAG STICKER -->
    
          <!-- USER SHORT DESCRIPTION -->
          <div class="user-short-description">
            <!-- USER SHORT DESCRIPTION AVATAR -->
            <a class="user-short-description-avatar user-avatar medium no-stats" href="group-timeline.html">
              <!-- USER AVATAR BORDER -->
              <div class="user-avatar-border">
                <!-- HEXAGON -->
                <div class="hexagon-120-130"></div>
                <!-- /HEXAGON -->
              </div>
              <!-- /USER AVATAR BORDER -->
    
              <!-- USER AVATAR CONTENT -->
              <div class="user-avatar-content">
                <!-- HEXAGON 그룹이미지 -->
                <div class="hexagon-image-100-110" data-src="/groupImage/29.jpg"></div>
                <!-- /HEXAGON -->
              </div>
              <!-- /USER AVATAR CONTENT -->
            </a>
            <!-- /USER SHORT DESCRIPTION AVATAR -->
      
            <!-- USER SHORT DESCRIPTION TITLE -->
            <p class="user-short-description-title"><a href="group-timeline.html">그룹 이름</a></p>
            <!-- /USER SHORT DESCRIPTION TITLE -->
      
            <!-- USER SHORT DESCRIPTION TEXT -->
            <p class="user-short-description-text">그룹설명ㅎㅎ</p>
            <!-- /USER SHORT DESCRIPTION TEXT -->
          </div>
          <!-- /USER SHORT DESCRIPTION -->
    
          <!-- USER STATS -->
          <div class="user-stats">
            <!-- USER STAT -->
            <div class="user-stat">
              <!-- USER STAT TITLE -->
              <p class="user-stat-title">멤버수</p>
              <!-- /USER STAT TITLE -->
      
              <!-- USER STAT TEXT -->
              <p class="user-stat-text">members</p>
              <!-- /USER STAT TEXT -->
            </div>
            <!-- /USER STAT -->
      
            <!-- USER STAT -->
            <div class="user-stat">
              <!-- USER STAT TITLE -->
              <p class="user-stat-title">게시물수</p>
              <!-- /USER STAT TITLE -->
      
              <!-- USER STAT TEXT -->
              <p class="user-stat-text">posts</p>
              <!-- /USER STAT TEXT -->
            </div>
            <!-- /USER STAT -->

          </div>
          <!-- /USER STATS -->
    
          <!-- USER AVATAR LIST -->
          <div class="user-avatar-list medium reverse centered">
            <!-- USER AVATAR -->
            <div class="user-avatar smaller no-stats">
              <!-- USER AVATAR BORDER -->
              <div class="user-avatar-border">
                <!-- HEXAGON -->
                <div class="hexagon-34-36"></div>
                <!-- /HEXAGON -->
              </div>
              <!-- /USER AVATAR BORDER -->
          
              <!-- USER AVATAR CONTENT -->
              <div class="user-avatar-content">
                <!-- HEXAGON -->
                <div class="hexagon-image-30-32" data-src="img/avatar/07.jpg"></div>
                <!-- /HEXAGON -->
              </div>
              <!-- /USER AVATAR CONTENT -->
            </div>
            <!-- /USER AVATAR -->
            
            <!-- USER AVATAR -->
            <div class="user-avatar smaller no-stats">
              <!-- USER AVATAR BORDER -->
              <div class="user-avatar-border">
                <!-- HEXAGON -->
                <div class="hexagon-34-36"></div>
                <!-- /HEXAGON -->
              </div>
              <!-- /USER AVATAR BORDER -->
          
              <!-- USER AVATAR CONTENT -->
              <div class="user-avatar-content">
                <!-- HEXAGON -->
                <div class="hexagon-image-30-32" data-src="img/avatar/13.jpg"></div>
                <!-- /HEXAGON -->
              </div>
              <!-- /USER AVATAR CONTENT -->
            </div>
            <!-- /USER AVATAR -->
    
            <!-- USER AVATAR -->
            <div class="user-avatar smaller no-stats">
              <!-- USER AVATAR BORDER -->
              <div class="user-avatar-border">
                <!-- HEXAGON -->
                <div class="hexagon-34-36"></div>
                <!-- /HEXAGON -->
              </div>
              <!-- /USER AVATAR BORDER -->
          
              <!-- USER AVATAR CONTENT -->
              <div class="user-avatar-content">
                <!-- HEXAGON -->
                <div class="hexagon-image-30-32" data-src="img/avatar/08.jpg"></div>
                <!-- /HEXAGON -->
              </div>
              <!-- /USER AVATAR CONTENT -->
            </div>
            <!-- /USER AVATAR -->
    
            <!-- USER AVATAR -->
            <div class="user-avatar smaller no-stats">
              <!-- USER AVATAR BORDER -->
              <div class="user-avatar-border">
                <!-- HEXAGON -->
                <div class="hexagon-34-36"></div>
                <!-- /HEXAGON -->
              </div>
              <!-- /USER AVATAR BORDER -->
          
              <!-- USER AVATAR CONTENT -->
              <div class="user-avatar-content">
                <!-- HEXAGON -->
                <div class="hexagon-image-30-32" data-src="img/avatar/16.jpg"></div>
                <!-- /HEXAGON -->
              </div>
              <!-- /USER AVATAR CONTENT -->
            </div>
            <!-- /USER AVATAR -->
    
            <!-- USER AVATAR -->
            <div class="user-avatar smaller no-stats">
              <!-- USER AVATAR BORDER -->
              <div class="user-avatar-border">
                <!-- HEXAGON -->
                <div class="hexagon-34-36"></div>
                <!-- /HEXAGON -->
              </div>
              <!-- /USER AVATAR BORDER -->
          
              <!-- USER AVATAR CONTENT -->
              <div class="user-avatar-content">
                <!-- HEXAGON -->
                <div class="hexagon-image-30-32" data-src="img/avatar/23.jpg"></div>
                <!-- /HEXAGON -->
              </div>
              <!-- /USER AVATAR CONTENT -->
            </div>
            <!-- /USER AVATAR -->
    
            <!-- USER AVATAR -->
            <a class="user-avatar smaller no-stats" href="group-members.html">
              <!-- USER AVATAR BORDER -->
              <div class="user-avatar-border">
                <!-- HEXAGON -->
                <div class="hexagon-34-36"></div>
                <!-- /HEXAGON -->
              </div>
              <!-- /USER AVATAR BORDER -->
          
              <!-- USER AVATAR CONTENT -->
              <div class="user-avatar-content">
                <!-- HEXAGON -->
                <div class="hexagon-image-30-32" data-src="img/avatar/11.jpg"></div>
                <!-- /HEXAGON -->
              </div>
              <!-- /USER AVATAR CONTENT -->
          
              <!-- USER AVATAR OVERLAY -->
              <div class="user-avatar-overlay">
                <!-- HEXAGON -->
                <div class="hexagon-overlay-30-32"></div>
                <!-- /HEXAGON -->
              </div>
              <!-- /USER AVATAR OVERLAY -->
          
              <!-- USER AVATAR OVERLAY CONTENT -->
              <div class="user-avatar-overlay-content">
                <!-- USER AVATAR OVERLAY CONTENT TEXT -->
                <p class="user-avatar-overlay-content-text">+260</p>
                <!-- /USER AVATAR OVERLAY CONTENT TEXT -->
              </div>
              <!-- /USER AVATAR OVERLAY CONTENT -->
            </a>
            <!-- /USER AVATAR -->
          </div>
          <!-- /USER AVATAR LIST -->
    
          <!-- USER PREVIEW ACTIONS -->
          <div class="user-preview-actions">
            <!-- BUTTON -->
            <p class="button secondary full">
              <!-- BUTTON ICON -->
              <svg class="button-icon icon-join-group">
                <use xlink:href="#svg-join-group"></use>
              </svg>
              <!-- /BUTTON ICON -->
              소모임 가입하기!
            </p>
            <!-- /BUTTON -->
          </div>
          <!-- /USER PREVIEW ACTIONS -->
        </div>
        <!-- /USER PREVIEW INFO -->
      </div>
      <!-- /USER PREVIEW -->

    </div>
    <!-- /GRID -->
  </div>
  <!-- /CONTENT GRID -->

<!-- app -->
<script src="/js/utils/app.js"></script>
<!-- page loader -->
<script src="/js/utils/page-loader.js"></script>
<!-- simplebar -->
<script src="/js/vendor/simplebar.min.js"></script>
<!-- liquidify -->
<script src="/js/utils/liquidify.js"></script>
<!-- XM_Plugins -->
<script src="/js/vendor/xm_plugins.min.js"></script>
<!-- global.hexagons -->
<script src="/js/global/global.hexagons.js"></script>
<!-- global.tooltips -->
<script src="/js/global/global.tooltips.js"></script>
<!-- header -->
<script src="/js/header/header.js"></script>
<!-- sidebar -->
<script src="/js/sidebar/sidebar.js"></script>
<!-- content -->
<script src="/js/content/content.js"></script>
<!-- form.utils -->
<script src="/js/form/form.utils.js"></script>
<!-- SVG icons -->
<script src="/js/utils/svg-loader.js"></script>
<!--axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- GH script-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/javascript/group.list.js"></script>/
</body>
</html>