<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- bootstrap 4.3.1 -->
  <link rel="stylesheet" href="/css/vendor/bootstrap.min.css">
  <!-- styles -->
  <link rel="stylesheet" href="/css/styles.min.css">
  <!-- simplebar styles -->
  <link rel="stylesheet" href="/css/vendor/simplebar.css">
  <!-- favicon -->
  <link rel="icon" href="/img/favicon.ico">
 <title>LounGe | Account Hub</title>
</head>
<body>
  {{>loader}}
  {{>header}}
  <!-- CONTENT GRID -->
  <div class="content-grid">
    <!-- GRID -->
    <div class="grid grid-3-9 medium-space">
      <!-- GRID COLUMN -->
      <div class="account-hub-sidebar">
      {{>hubsidebar}}
      </div>
      <!-- /GRID COLUMN -->

      <!-- GRID COLUMN -->
      <div class="account-hub-content">
        <!-- SECTION HEADER -->
        <div class="section-header">
          <!-- SECTION HEADER INFO -->
          <div class="section-header-info">
            <!-- SECTION PRETITLE -->
            <p class="section-pretitle">그룹 이름</p>
            <!-- /SECTION PRETITLE -->

            <!-- SECTION TITLE -->
            <h2 class="section-title" id="groupTitle"></h2>
            <!-- /SECTION TITLE -->
          </div>
          <!-- /SECTION HEADER INFO -->

          <!-- SECTION HEADER ACTIONS -->
          <div class="section-header-actions">
            <!-- SECTION HEADER ACTION -->
            <p class="section-header-action" onclick="managementMemberList()">멤버 관리</p>
            <!-- /SECTION HEADER ACTION -->
      
            <!-- SECTION HEADER ACTION -->
            <p class="section-header-action" onclick="managementApplyList()">가입 신청자 관리</p>
            <!-- /SECTION HEADER ACTION -->

            <!-- SECTION HEADER ACTION -->
            <p class="section-header-action" onclick="deleteGroup()"><span style="color: red;" >그룹 삭제</span></p>
            <!-- /SECTION HEADER ACTION -->
          </div>
          <!-- /SECTION HEADER ACTIONS -->
        </div>
        <!-- /SECTION HEADER -->

        <!-- NOTIFICATION BOX LIST -->
        <div class="notification-box-list">


        </div>
        <!-- /NOTIFICATION BOX LIST -->
      </div>
      <!-- /GRID COLUMN -->
    </div>
    <!-- /GRID -->
  </div>
  <!-- /CONTENT GRID -->

<!-- app -->
<script src="/js/utils/app.js"></script>
<!-- page loader -->
<script src="/js/utils/page-loader.js"></script>
<!-- simplebar -->
<script src="/js/vendor/simplebar.min.js"></script>
<!-- liquidify -->
<script src="/js/utils/liquidify.js"></script>
<!-- XM_Plugins -->
<script src="/js/vendor/xm_plugins.min.js"></script>
<!-- global.hexagons -->
<script src="/js/global/global.hexagons.js"></script>
<!-- global.tooltips -->
<script src="/js/global/global.tooltips.js"></script>
<!-- global.accordions -->
<script src="/js/global/global.accordions.js"></script>
<!-- header -->
<script src="/js/header/header.js"></script>
<!-- sidebar -->
<script src="/js/sidebar/sidebar.js"></script>
<!-- content -->
<script src="/js/content/content.js"></script>
<!-- form.utils -->
<script src="/js/form/form.utils.js"></script>
<!-- SVG icons -->
<script src="/js/utils/svg-loader.js"></script>
<!--axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/javascript/hub.group.members.js"></script>

<div id="managementjs">
</body>
</html>