<html lang='ko'>
  <head>
    <meta charset='utf-8' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1, shrink-to-fit=no'
    />
    <!-- bootstrap 4.3.1 -->
    <link rel='stylesheet' href='/css/vendor/bootstrap.min.css' />
    <!-- styles -->
    <link rel='stylesheet' href='/css/styles.min.css' />
    <link rel="stylesheet" href="/css/raw/scroll.css">
    <!-- simplebar styles -->
    <link rel='stylesheet' href='/css/vendor/simplebar.css' />
    <!-- favicon -->
    <link rel='icon' href='/img/favicon.ico' />
    <title>LounGe</title>
  </head>
  <body>
  {{>loader}}
  {{>header}}

    <!-- CONTENT GRID -->
    <div class='content-grid'>

      <!-- GRID -->
      <div class='grid grid-3-9 medium-space'>
        <!-- GRID COLUMN -->
        <div class='account-hub-sidebar'>
      {{>hubsidebar}}
        </div>
        <!-- /GRID COLUMN -->

        <!-- GRID COLUMN -->
        <div class='account-hub-content'>
          <!-- SECTION HEADER -->
          <div class='section-header'>
            <!-- SECTION HEADER INFO -->
            <div class='section-header-info'>
              <!-- SECTION TITLE -->
              <h2 class='section-title'>비밀번호 변경</h2>
              <!-- /SECTION TITLE -->
            </div>
            <!-- /SECTION HEADER INFO -->
          </div>
          <!-- /SECTION HEADER -->

          <!-- GRID COLUMN -->
          <div class='grid-column'>
            <!-- WIDGET BOX -->
            <div class='widget-box'>
              <!-- WIDGET BOX CONTENT -->
              <div class='widget-box-content'>
                <!-- FORM -->
                <form class='form'>
                  <!-- FORM ROW -->
                  <div class='form-row'>
                    <!-- FORM ITEM -->
                    <div class='form-item'>
                      <!-- FORM INPUT -->
                      <div class='form-input small'>
                        <label for='account-current-password'>현재 비밀번호</label>
                        <input
                          type='password'
                          id='account-current-password'
                          name='account_current_password'
                        />
                      </div>
                      <!-- /FORM INPUT -->
                    </div>
                    <!-- /FORM ITEM -->
                  </div>
                  <!-- /FORM ROW -->

                  <!-- FORM ROW -->
                  <div class='form-row split'>
                    <!-- FORM ITEM -->
                    <div class='form-item'>
                      <!-- FORM INPUT -->
                      <div class='form-input small'>
                        <label for='account-new-password'>새 비밀번호</label>
                        <input
                          type='password'
                          id='account-new-password'
                          name='account_new_password'
                        />
                      </div>
                      <!-- /FORM INPUT -->
                    </div>
                    <!-- /FORM ITEM -->

                    <!-- FORM ITEM -->
                    <div class='form-item'>
                      <!-- FORM INPUT -->
                      <div class='form-input small'>
                        <label for='account-new-password-confirm'>새 비밀번호 재확인</label>
                        <input
                          type='password'
                          id='account-new-password-confirm'
                          name='account_new_password_confirm'
                        />
                      </div>
                      <!-- /FORM INPUT -->
                    </div>
                    <!-- /FORM ITEM -->
                  </div>
                  <!-- /FORM ROW -->

                  <!-- FORM ROW -->
                  <div class='form-row split'>
                    <!-- FORM ITEM -->
                    <div class='form-item'>
                      <!-- BUTTON -->
                      <p class='button full primary' onclick="updatePassword()">비밀번호 변경</p>
                      <!-- /BUTTON -->
                    </div>
                    <!-- /FORM ITEM -->
                  </div>
                  <!-- /FORM ROW -->
                </form>
                <!-- /FORM -->
              </div>
              <!-- WIDGET BOX CONTENT -->
            </div>
            <!-- /WIDGET BOX -->
          </div>
          <!-- /GRID COLUMN -->
        </div>
        <!-- /GRID COLUMN -->
      </div>
      <!-- /GRID -->
    </div>
    <!-- /CONTENT GRID -->

    <!-- app -->
    <script src='/js/utils/app.js'></script>
    <!-- page loader -->
    <script src='/js/utils/page-loader.js'></script>
    <!-- simplebar -->
    <script src='/js/vendor/simplebar.min.js'></script>
    <!-- liquidify -->
    <script src='/js/utils/liquidify.js'></script>
    <!-- XM_Plugins -->
    <script src='/js/vendor/xm_plugins.min.js'></script>
    <!-- global.hexagons -->
    <script src='/js/global/global.hexagons.js'></script>
    <!-- global.tooltips -->
    <script src='/js/global/global.tooltips.js'></script>
    <!-- global.accordions -->
    <script src='/js/global/global.accordions.js'></script>
    <!-- header -->
    <script src='/js/header/header.js'></script>
    <!-- sidebar -->
    <script src='/js/sidebar/sidebar.js'></script>
    <!-- content -->
    <script src='/js/content/content.js'></script>
    <!-- form.utils -->
    <script src='/js/form/form.utils.js'></script>
    <!-- SVG icons -->
    <script src='/js/utils/svg-loader.js'></script>

    <script src="/javascript/user.js"></script>

  </body>
</html>