<html lang='ko'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>LounGe</title>
  </head>
  <body>

    <div id='accessToken'>{{accessToken}}</div>
    <div id='refreshToken'>{{refreshToken}}</div>
  </body>
  <script>
    const accessToken =document.getElementById('accessToken').innerText; const
    refreshToken = document.getElementById('refreshToken').innerText;
    window.opener.postMessage({accessToken, refreshToken},"*"); window.close()
  </script>
</html>