.fc {
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.06);
}

.fc .fc-header-toolbar{
  padding: 28px 28px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.fc .fc-toolbar-chunk {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.fc .fc-toolbar-title{
  font-size: 1.25rem;
  font-weight: 700;
}

.fc .fc-button{
  height: 70px;;
}

.fc .fc-scroller-harness{
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid white;
}

.fc .fc-daygrid-day {
  background-color: white;
}

.fc .fc-daygrid-day .fc-daygrid-day-number {
  color: #9aa4bf;
  font-weight: 500;
}

.fc .fc-daygrid-day-number, .fc .fc-daygrid-day .fc-daygrid-day-number {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  border-radius: 50%;
}
.fc .fc-col-header-cell-cushion {
  color: rosybrown;
}
.fc .fc-list-event {
  color: black;
  background-color: white;
}

.fc .fc-day-today {
  background-color: aqua;
}

.fc .fc-event-time {
  color: black;
}
.fc .fc-event-title {
  color: black;
}